[submodule "maxframe.el"]
	path = maxframe.el
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "js-beautify"]
	path = js-beautify
	url = https://github.com/einars/js-beautify.git
[submodule "elnode"]
	path = elnode
	url = https://github.com/nicferrier/elnode.git
[submodule "js2-mode"]
	path = js2-mode
	url = git@github.com:db48x/js2-mode.git
[submodule "epresent"]
	path = epresent
	url = https://github.com/eschulte/epresent
[submodule "zenburn-emacs"]
	path = zenburn-emacs
	url = git@github.com:db48x/zenburn-emacs.git
[submodule "bbdb"]
	path = bbdb
	url = git://git.savannah.nongnu.org/bbdb.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
