[submodule "maxframe.el"]
	path = maxframe.el
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "js-beautify"]
	path = js-beautify
	url = https://github.com/einars/js-beautify.git
[submodule "elnode"]
	path = elnode
	url = https://github.com/nicferrier/elnode.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode.git
