[submodule "maxframe.el"]
	path = maxframe.el
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "js-beautify"]
	path = js-beautify
	url = https://github.com/einars/js-beautify.git
[submodule "elnode"]
	path = elnode
	url = https://github.com/nicferrier/elnode.git
[submodule "js2-mode"]
	path = js2-mode
	url = git@github.com:db48x/js2-mode.git
[submodule "epresent"]
	path = epresent
	url = https://github.com/eschulte/epresent
[submodule "zenburn-emacs"]
	path = zenburn-emacs
	url = git@github.com:db48x/zenburn-emacs.git
[submodule "bbdb"]
	path = bbdb
	url = git://git.savannah.nongnu.org/bbdb.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "js2-refactor.el"]
	path = js2-refactor.el
	url = git://github.com/magnars/js2-refactor.el.git
[submodule "mark-multiple.el"]
	path = mark-multiple.el
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "expand-region.el"]
	path = expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "zencoding"]
	path = zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "ido-ubiquitous"]
	path = ido-ubiquitous
	url = git://github.com/technomancy/ido-ubiquitous.git
[submodule "multiple-cursors.el"]
	path = multiple-cursors.el
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "dash.el"]
	path = dash.el
	url = git://github.com/magnars/dash.el.git
